<!DOCTYPE html>
<html>
  <head>
    <title>Cat Facts</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/home.css">

  </head>

  <body>
    <header>
        <h1>Here's a Cat Fact!</h1>
        <h4><%= cat_facts%></h4>
        <div id="pic">
          <img src="http://thecatapi.com/api/images/get?format=src&type=gif" height="300" width=auto>
        </div>
        <h4><a href="/catfacts">MORE CATS</a></h4>
    </header>
  </body>
</html>
