<!DOCTYPE html>
<html>
  <head>
    <title>Cat Facts</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <div class="credit">Created and Copyrighted by Brian Stern & Jesse Norris</div>
    <div class="container">
      <div class="header">Here's a Cat Fact!</div>
      <div class="fact"><%= cat_facts%></div>
      <div class="api_image"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></div>
      <div class="refresh_link"><a href="/catfacts">PICK A NEW LITTER</a></div>
      <div class="end"></div>
    </div>
  </body>
</html>
