body {
  background-image: url(/grey-cat.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #CECECE;
  font-family:Arial, Gadget, sans-serif;
}

.credit {
  font-size: 8pt;
  color: #818181;
}

.header {
  font-weight: bolder;
  font-size: 50px;
  font-family:"Arial Black", Gadget, sans-serif;

}

.fact {
  padding: 20px 0px 20px 0px;
}

.api_image {
  max-height: 400px;
}

.refresh_link {
  padding-top: 10px;
}

.container {

  margin-left: 80px;
  width:500px;
  text-align: right;

  position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);;

}
